.login {
  background-color: white;
  display: grid;
  place-items: center;
  height: 100vh;
}
.login_logo img {
  object-fit: contain;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.login Button {
  width: 300px;
  background-color: #2e81f4;
  color: white;
  font-weight: bold;
}

.login Button:hover {
  background-color: white;
  color: #2e81f4;
  border: 1px solid #2e81f4;
}
